/* Browse Everything custom styles */

@media (min-width: 992px) {
  div#browse-everything div.modal-dialog.modal-lg {
    width: 700px;
  }
}

@media (min-width: 1200px) {
  div#browse-everything div.modal-dialog.modal-lg {
    width: 900px;
  }
}

div#browse-everything[style*="display: none"] {
  display: none !important;
}

div#browse-everything[style*="display:none"] {
  display: none !important;
}

div#browse-everything.loading {
  background: none !important;
}

div#browse-everything button.show {
  display: inline !important;
}

/* Fix modal styles set in showcase.scss */

div#browse-everything.modal .modal-footer {
  text-align: right;
  border-top: 1px solid #e5e5e5
}

div#browse-everything.modal .modal-header {
  border-bottom: 1px solid #e5e5e5
}