@import 'variables';
@import 'shared';

div.collection-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-right: 0;
  margin-left: 0;
  padding: 4px 0 !important;

  .btn-wrapper.col-12 {
    padding: 16px 0;
  }

  @media (max-width: 767px) {
    flex-wrap: wrap;

    .title-wrapper {
      width: 100%;
    }

    .btn-wrapper {
      max-width: 100% !important;
    }

    .collection-manage-buttons {
      width: 100% !important;
      justify-content: space-around !important;
      margin: 0px !important;
    }

    .collection-manage-button-wrapper {
      width: 30%;
    }

    .btn {
      width: 100% !important;
      font-size: 14px !important;
      margin: 0px !important;
    }

    .dropdown-menu {
      left: 0px;
    }

    li {
      margin: 0px !important;
    }
  }

  .title-wrapper {
    min-width: 67%;
    flex-grow: 1;
  }

  .btn-wrapper {
    flex-grow: 0;
  }

  .collection-manage-buttons {
    display: flex;
    width: 234px;
    flex-grow: 0;
    justify-content: end;
    margin: 0;
    padding: 4px 0;

    .dropdown-menu {
      min-width: 320px !important;
      right: 0px !important;
      top: unset !important;

      .btn {
        width: 100%;
        text-align: left;
        padding: 5px 5px 5px 10px;
      }

      .btn:hover {
        color: $button-hover-font-color;
        background-color: $button-hover-color;
        border-color: $button-hover-border-color;
      }
    }

    .btn {
      width: 75px;
      border-radius: 3px;
      margin-left: 3px;
      font-size: 14px;
    }
  }
}

div.collection-page {
  .row {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  [class*='col-'] {
    padding: 0;
  }

  .gallery-badge {
    a {
      display: inline-block;
      width: 140px;
    }
    span {
      display: inline-block;
      font-weight: bold;
      font-size: 8px !important;
      width: 140px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }

  .collection.card-body {
    div#documents.gallery {
      margin-left: -6px;
      margin-right: -6px;

      .document {
        margin-top: 15px;
        padding: 6px 6px 0 6px;
        max-height: 350px;

        dl {
          width: 190px;
          margin-bottom: 0;

          dd.text-truncate {
            max-width: 190px;
          }

          dd.text-truncate-lines {
            max-width: 190px;
            height: unset;
            overflow-wrap: anywhere;
          }
        }

        dl.document-metadata {
          dd {
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  .hyc-bl-pager {
    .paginate-wrapper {
      align-items: center;
      font-size: 12px;
      font-weight: normal;
      justify-content: space-between;
      padding: 14px 0 4px 0;
    }

    .paginate-wrapper [class*='col-'] {
      padding: 0;
    }

    .per-page-container form label {
      font-weight: normal;
      margin: 0;
    }

    .pagination-container .pagination li:last-child a {
      margin-right: 0;
    }
  }

  // about tab
  .about {
    margin: -10px;
    font-size: 14px;
    // all elements should be 14px
    h2, .showcase-label, .showcase-value, .text-muted-item {
      font-size: inherit;
    }

    .about-column {
      padding-left: 15px;
      padding-right: 15px;
    }

    h2.header-modal-definitions {
      display: flex;
      justify-content: space-between;

      a {
        text-transform: none;
        font-weight: normal;
      }
    }

    .row {
      padding-top: 4px;
      padding-bottom: 4px;
    }

    .statistics {
      .view-stat {
        display: flex;
      }
      .showcase-label {
        flex-grow: 1;
      }
      .showcase-value {
        width: 50px !important;
        text-align: right;
      }
      .top-media {
        .top-media-card {
          padding-left: 10px;
          display: flex;
          margin-bottom: 20px;
        }
        .text-muted {
          display: flex;
        }
        .text-muted-item {
          padding-right: 4px;
        }
      }
    }
    .thumbnail-sm img {
      max-width: 100px;
      padding-top: 4px;
      padding-right: 8px;
    }
  }
}