.landing-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  img {
    margin-right: 20px;
  }

  span {
    font-size: larger;
  }
}

.landing {
  h2 {
    border-bottom: 3px solid #337ab7;
    padding: 6px 8px 6px 0;
    margin: 10px 0 20px 0;
  }

  p {
    font-size: larger;
  }

  .action-section {
    margin-bottom: 30px;
  }

  .list-category {
    font-size: larger;
    margin-bottom: 10px;
  }

  .list-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    a {
      font-size: larger;
    }
  }

  .fa, .fas {
    margin-right: 10px;
  }

  .material-icons {
    margin-left: 5px !important;
  }

  .material-icons.md-18 {
    font-size: 18px;
  }
}

.ms-list-filters {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  fieldset {
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 150px;
  }

  button {
    border: 1px solid #d4d4d4 !important;
    max-width: 150px !important;
    min-width: 150px !important;
    background-color: #fff !important;
    color: black !important;
    padding: 2px 3px 2px 8px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .caret {
    margin-right: 8px;
    margin-top: 6px;
  }

  li {
    padding: 1px 2px 1px 2px;
    font-size: 12px;
  }
}

.ms-constraints-container {
  .constraint-value {
    background-color: #fff !important;
    color: black !important;
    border: 1px solid #d4d4d4 !important;
    color: black !important;
    font-size: 12px;
    padding: 2px 8px 2px 8px !important;
  }
  // caret in filtering by
  .filterName:after {
    font-size: 9px !important;
    color: black;
  }

  .dropdown-toggle {
    background-color: #286090 !important;
    color: #fff !important;
    border-color: #265b89 !important;
    border-radius: 90px !important;
    min-width: 18px !important;
    max-width: 18px !important;
    width: 18px !important;
    min-height: 18px !important;
    max-height: 18px !important;
    height: 18px !important;
    margin-left: 3px !important;
    margin-top: 3px !important;
  }

  .appliedFilter .glyphicon-remove {
    right: 9px;
    top: -4px;
  }

  #startOverLink {
    padding: 0px 6px 0px 6px !important;
  }

  .start-over {
    background-color: #286090 !important;
    border-color: #286090 !important;
    padding: 2px 6px 2px 0px !important;
  }
}

.ms-works-pagination-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.collection-description {
  padding: 10px 0 15px 10px;
  max-width: 85%;
}

// Have to re-introduce some default hyrax modal styling for dashboard, because .showcase removes it
div.modal#apiKeyModal {
  .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
  }

  .modal-title {
    font-size: 22px;
    padding: 0;
    margin: 0;
  }

  .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
  }

  p {
    font-size: 14px;
  }

  #api-key {
    text-align: center;
  }
}

@media only screen and (max-width: 760px) {
  .list-filters {
    flex-wrap: wrap;
  }

  .list-filters fieldset {
    width: 100%;
  }

  .list-filters button {
    max-width: 100% !important;
    min-width: 100% !important;
  }
}
