/* used for pages with the morphosource_1_column_docs template */
body.docs {
  .container {	
    padding-right: 25px;
    padding-left: 25px;
    h1 {
      margin-bottom: 12px;
    }
    ol {
      padding-left: 18px;
    }
    @media (min-width: 768px) {
      font-size: 12px;
      h1 {
        font-size: 18px;
        margin-bottom: 13px;
      }
    }
  }
}

.terms-list li {
  margin-bottom: 10px;
  margin-top: 10px;
}

.terms-subheading {
  position: relative;
  right: 20px;
  font-weight: bold;
}

.terms-credit {
  position: relative;
  left: 40px;
}

.docs-content {
  max-width: 1000px;
  margin: 0 auto;

  h1:first-child {
    margin-top: 20px;
  }

  h1:not(:first-child) {
    margin-top: 40px;
  }
}
