/* used for pages with the morphosource_1_column_docs template */
body.docs {
	.container {	
	  padding-right: 25px;
	  padding-left: 25px;
	  font-size: 3vw;
	  h1 {
	  	font-size: 4vw;
			margin-bottom: 12px;
	  }
	  ol {
	  	padding-left: 18px;
	  }
    @media (min-width: 768px) {
			font-size: 12px;
			h1 {
				font-size: 18px;
				margin-bottom: 13px;
			}
		}
	}
}

// used for documentation pages

.docs-content {
  margin-top: 20px;
}

// terms and contributor terms

.terms-list li {
  margin-bottom: 10px;
  margin-top: 10px;
}

.terms-subheading {
  position: relative;
  right: 20px;
  font-weight: bold;
}

.terms-credit {
  position: relative;
  left: 40px;
}
