@import 'shared';

/* Response styles */

@media (min-width: 768px) {
  div.controls .navbar .input-group {
    margin-bottom: 0;
  }

  .pull-right-sm {
    float: right;
  }

  ul#user_utility_links li ul.dropdown-menu a {
    color: #333333;
  }

  .col-left {
    padding-right:  30px;
  }

  .col-right {
    padding-left:  30px;
  }
}

/* Header styles */

.nav .invisible {
	display: none;
	visibility:	visible;
}

.nav .notifications {
	margin-right: 8px;
}

nav#masthead .btn-default {
  color: #000;
  background-color: #fff;
  border-color: #cccccc;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  width: 130px;
  max-width: unset;
}

ul#user_utility_links {
	margin-top: 5px;
  margin-right: 0;
}

ul#user_utility_links li a {
  color: #fff;
}

/* Navbar styles */

div.controls .navbar {
  background-color: $ms-dark-blue;
  color: #fff;
  border: none;
}

div.controls .navbar-nav {
	margin: 0;
	padding-left: 10px;
}

div.controls .navbar-nav li {
	float: left;
}

/* Navbar menu specific styles */

div.controls .navbar-nav > li > a {
  color: #fff !important;
  height: 50px !important;
  padding-top: 15px !important;
}

div.controls .navbar-nav > li.open > a {
  color: black !important;
}

div.controls .navbar-nav > li.active > a,
div.controls .navbar-nav > li > a:hover,
div.controls .navbar-nav > li > a:focus {
	color: #fff;
	background-color: $ms-blue;
}

/* Navbar submenu specific styles */
 
div.controls .navbar-nav li ul.dropdown-menu {
  background-color: white;
  border-top-width: 0px;
}

div.controls .navbar-nav li ul.dropdown-menu li {
  float: none;
}

div.controls .navbar-nav li ul.dropdown-menu a {
  color: black !important;
}

div.controls .navbar-nav li ul.dropdown-menu a:hover, 
div.controls .navbar-nav li ul.dropdown-menu a:focus  {
  background-color: #f5f5f5 !important;
}

/* Other styles */

div#front-banner {
	background-color: #000;
	color: #f3f3f3;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

div#front-banner .btn {
	background-color: $ms-dark-blue;
	border-color: $ms-dark-blue;
	color: #f3f3f3;
  width: 200px;
}

div#front-banner p {
	/*font-size: large;*/
	margin-bottom: 30px;
}

div#front-banner a {
	margin-top: 20px;
}

div#front-banner iframe {
	min-height: 300px;
}

.col-align {
  float: none;
  display: inline-block;
  
  &--top {
    vertical-align: top;
  }
  &--center {
    vertical-align: middle;
  }
  &--bottom {
    vertical-align: bottom;
  }
}

.row.equal {
	display: flex;
  	display: -webkit-flex;
  	flex-wrap: wrap;
}

.no-padding {
	padding: 0 !important;
}

.no-vertical-padding {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.no-horizontal-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.launch-box {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 30px;
}

.mesh-source-box {
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	padding: 20px 40px 20px 40px;
	text-align: center;
}

.secondary-nav {
  min-height: 50px !important;
  .container {
    min-height: 50px !important;
  }
}

.inline-button {
  padding: 1px 6px;
  background-color: $ms-dark-blue;
  border: 1px solid $ms-dark-blue;
  border-radius: 5px;
  color: #f3f3f3;
  font-size: 12px;
  font-weight: 300;
  white-space: nowrap;
}

.inline-button:hover, .inline-button:focus {
  color: #f3f3f3;
}

.stats {
  margin-bottom: 40px;
}

/* Blog post styles */

.post {
  margin-left:  0 !important;
  margin-right:  0 !important;
  padding-left:  0 !important;
  padding-right:  0 !important;
  border-bottom:  1px solid lightgray;
  margin-bottom:  40px;
}

.post-title-container {
  border-bottom:  1px solid lightgray;
}

.post-title {
  font-weight: 500;
}

.post-excerpt {
  margin-top:  14px;
}

.view-all-link {
  text-align: center; 
  margin-top: -30px; 
  margin-bottom:  40px;
  font-weight: 500;
}