button.getty:focus{
  outline: none !important;
}

button.getty:active{
  outline: none !important;
}

button.getty:link{
  outline: none !important;
}

button.getty:hover{
  outline: none !important;
}
