@import 'variables';

div.card.itemtable {
  min-width: 1200px;

  // Rules for optional description heading within body
  .card-body .card-header {
    background-color: #f5f5f5
  }
}

// card has controller name class, can override general behavior by controller
div.card.itemtable.requests {
  min-width: 1600px;
}

div.card.itemtable.background_jobs, div.card.itemtable.pages {
  min-width: 600px;
}

table.itemtable {
  font-size: 12px;

  a.table-sort-header {
    color: inherit;
    text-decoration: none;

    span.fa-sort {
      opacity:  0.3;
    }

    span.fa-sort:before,
    span.fa-sort-by-attributes:before,
    span.fa-sort-by-attributes-alt:before {
      content: "↑";
      opacity:  0.3;
    }

    span.fa-sort:after,
    span.fa-sort-by-attributes:after,
    span.fa-sort-by-attributes-alt:after {
      content: "↓";
      opacity:  0.3;
    }

    span.fa-sort-up.fa-sort-by-attributes:after, 
    span.fa-sort-up.fa-sort-by-attributes-alt:after, 
    span.fa-sort-down.fa-sort-by-attributes:before,
    span.fa-sort-down.fa-sort-by-attributes-alt:before {
      opacity:  0.7;
    }
  }

  td.media-thumbnail-column {
    width: 80px;
  }

  .date-column {
    width: 6%;
  }
}

table.works-list {
  /* Remove border from work list table header */
  thead th { border-top: none }
  /* Make sure data table border fits content */
  .media-body {
    width: auto;
    margin-left: 8px;
  }
}

div.date-range-element {
  padding-left: 5px;
  padding-right: 5px;
}

div.paginate-wrapper.itemtable {
  div.paginate-info {
    display: inline-block;
    vertical-align: top;
  }

  div#per_page-dropdown {
    padding-top: 0;
    vertical-align: top;

    button {
      color: $link-font-color;
      font-size: 12px;
      background-color: #fff;
      border-color: rgb(221, 221, 221);
      border-width: 1px;
      border-style: solid;
      border-radius: 3px;
    }
  }
}

/* dropdown menu styles */
.dropdown-menu {
  li {
    a {
      color: $font-color;
      font-weight: normal;
      font-size: 11px;
      display: block;
      width: 100%;
      padding: 3px 20px;
    }
    a:hover {
      text-decoration: none;
      background-color: #f5f5f5;
    }
  }
}
