// Styles for top bar masthead content
nav#masthead {
  min-height: 55px !important;
  padding: 0;

  // Bootstrap override
  a:hover {
    text-decoration: none;
  }

  // Masthead for most pages
  .container {
    max-width: 1200px;
    width: 100%;
    
    // First masthead content group
    .navbar-header {
      padding-left: 0;
      padding-right: 0;
    }
  }

  // Styles for catalog page masthead
  .container-fluid {
    max-width: 1200px;
    width: 100%;
  
    .navbar-header {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .dropdown-toggle {
    min-width: unset;
  }

  input#search-field-header {
    font-size: 14px;
    height: 34px;
    line-height: 1.428571429;
    padding: 0.375rem 0.75rem;
  }
}

// On front page, tools pane below top bar
nav.navbar .container, nav.navbar .container-fluid {
  max-width: 1200px;
  width: 100%;

  .controls .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}


body.dashboard nav#masthead {
  // Hyrax has dashboard masthead as fixed, undo that
  position: relative;

  // Special exception for dashboard masthead, which has full page width
  .container-fluid {
    max-width: unset;
  }
}

.banner-text {
  text-align: center;
}

#donate-button {
  border: 1px solid white;
  padding: 5px;
  color: white;
  text-align: center;
  min-width: 100px;
  border-radius: 5px;
  text-decoration: none;
}