// Styles for top bar masthead content
nav#masthead {
  min-height: 55px !important;

  // Masthead for most pages
  .container {
    width: unset;
    max-width: 1200px;
    
    // First masthead content group
    .navbar-header {
      padding-left: 0;
      padding-right: 0;
    }
  }

  // Styles for catalog page masthead
  .container-fluid {
    width: unset;
    max-width: 1200px;
  
    .navbar-header {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

// On front page, tools pane below top bar
nav.navbar .container {
  width: unset;
  max-width: 1200px;

  .controls .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}


body.dashboard nav#masthead {
  // Hyrax has dashboard masthead as fixed, undo that
  position: relative;

  // Special exception for dashboard masthead, which has full page width
  .container-fluid {
    max-width: unset;
  }
}