.collection.panel-body {
  .batch-action-buttons {
    .text {
      display: inline-block;
      text-align: center;
    }
  }

  .media-list-results {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;

    .collection-table {
      flex: 1;
      min-width: 0;
      order: 2;

      table#datatable-media-list {
        margin-bottom: 0 !important;
    
        tbody {
          border-left: 1px solid #eee;
          border-bottom: 1px solid #eee;
        }
    
        th.view-column {
          padding-left: 2px;
          padding-right: 2px;
        }
    
        tr.previewable:hover {
          cursor: pointer;
        }
    
        tr.previewable.view-active, tr.previewable.view-active:hover {
          cursor: initial;
    
          td.view-column {
            border-right: none;
          }      
        }

        tr.ui-sortable-helper {
          display: inline-table;
        }
    
        tr {
          .currently-viewing {
            font-weight: bold;
          }
    
          td {
            vertical-align: middle;
            padding-left: 2px;
            padding-right: 2px;

            .object-col-taxonomy {
              display: none;
            }
          }
    
  
          td.view-column {
            border-right: 1px solid #eee;
    
            .view-label {
              margin: auto;
              width: 60px;
            }
          }
        }
    
        tr:hover .view-label .view-media {
          opacity: 1;
        }

        input[type="checkbox"] {
          position: relative;
          margin-top: 0;
          margin-left: 0;
        }
    
        // Edit page, to support custom sorting
        #sortable-media-list {
          .document-row-interact-panel {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
    
            .interact-item {
              align-items: center;
              display: flex;
              min-height: 18px;
            }

            a.interact-item {
              color: unset;

              &:hover {
                text-decoration: none;
              }
            }
    
            button {
              border: none;
              background-color: transparent;
              color: unset;
              margin: 0;
              padding: 0;
            }
    
            .ui-sortable-handle, .media-list-remove-media {
              cursor: pointer;
            }
          
          }
        }  
      }
    }

    div.collection-media-preview {
      display: flex;
      flex: 1;
      flex-direction: column;
      order: 1;
  
      .preview-title {
        padding-top: 13px; 
        padding-bottom: 10px;
        text-align: center; 
        font-weight: bold;
      }
  
      .preview-body {
        padding: 0;

        .preview-disabled-wrap {
          background: white url("/loading32x32.gif") center center no-repeat;
          height: 100%;
          width: 100%;
          position: absolute;
          z-index: 9999;
          opacity: 0.5;
        }

        .preview-wrapper-and-controls {
          align-items: center;
          display: flex;
          flex-direction: column;
          position: relative;
          width: 100%;
  
          #preview-wrapper {
            width: 100%;
  
            .preview-container {
              background-color: black;
              height: 200px;
    
              .viewer-wrapper, .viewer-wrapper-2d {
                height: 100%;
    
                .viewer {
                  padding: 0;

                  .viewer-content-2d {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;
                    height: calc(100% - 30px);
                  }
          
                  .image-wrapper {                    
                    text-align: center;

                    img {
                      max-height: 125px;
                    }
                  }
          
                  .not-ready {
                    color: #C7C5C7;
                    text-align: center;
                    padding: 0 10px 0 10px;
          
                    &.not-loaded {
                      align-items: center;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      height: 100%;
          
                      .load-instructions-container {
                        background-color: #212121;
                        border-radius: 5px;
                        padding: 20px;
                      }
          
                      .btn {
                        background-color: #00B0FF;
                        font-size: 10px;
                        min-width: 70px;
                        text-transform: uppercase;
                      }
                    }
                  }
                }
              } 
            }
          }
          
          .preview-controls {
            align-items: center;
            background-color: black;
            display: flex; 
            flex-direction: row; 
            height: 30px;
            justify-content: space-between;
            width: 50%;
            position: absolute;
            bottom: 6px;
      
            .btn {
              background-color: #00B0FF;
              font-size: 10px;
              min-width: 70px;
              text-transform: uppercase;
            }
    
            a {
              color: white;
              cursor: pointer;
              display: flex;
              align-items: center;
              font-family: sans-serif;
              font-size: 12px;
              text-transform: uppercase;
    
              &:hover {
                text-decoration: none;
              }
    
              &.disabled {
                opacity: 0.5;
                pointer-events: none;
              }
    
              i {
                margin-left: 10px;
                margin-right: 10px;
                font-size: 1.5em;
              }
    
              span {
                padding-top: 0.3em;
              }
              
            }
          }
        }

        .name-container {
          overflow-wrap: anywhere;
          text-align: center;
  
          .name {
            padding: 10px 10px 0 10px;

            .preview-name-link {
              font-weight: bold;
            }
          }
        }
      }
    }

    // Gallery specific styling
    .collection-table.gallery {
      margin-top: 22px;

      .document .view-label {
        position: absolute;
        bottom: 5px;
        width: 90%;

        .currently-viewing {
          font-weight: bold;
          margin-bottom: 4px;
        }
      }

      .document:hover .view-label .view-media {
        opacity: 1;
      }
    }

    // Responsive styling

    // Tablets
    @media (min-width: 768px) {
      div.collection-media-preview {
        .preview-container {
          height: 300px !important;

          .viewer .image-wrapper img {
              max-height: 225px !important;
          }
        }
      }
    }

    // Large screens (side-by-side UI)
    @media (min-width: 992px) {
      flex-direction: row;

      .collection-table {
        flex: 7;
        order: 1;

        // Table view media button invisible but focusable (for keyboard navigation)
        table#datatable-media-list tr {
          .view-media {
            opacity: 0;
          }
    
          .view-media:focus {
            opacity: 1;
          }

          td .object-col-taxonomy {
            display: block;
          }
        }
      }

      div.collection-media-preview {
        flex: 5;
        order: 2;
        
        .preview-body {
          padding-left: 10px;
          position: sticky;

          .preview-container {
            height: 500px !important;
  
            .viewer .image-wrapper img {
                max-height: 300px !important;
            }
          }
        }
      }

      // Gallery specific styles 
      div.collection-table.gallery { 
        flex: 1; 

        .document .view-label {
          .view-media {
            opacity: 0;
          }
          .view-media:focus {
            opacity: 1;
          }
        }
      
      }
      div.collection-media-preview.gallery { flex: 1; }
    }

    @media (min-width: 1200px) {
      .collection-table {
        table#datatable-media-list tr {
          td .object-col-taxonomy {
            display: none;
          }
        }
      }

      div.collection-media-preview {
        .preview-body {
          .preview-container {
            .viewer .image-wrapper img {
                max-height: 300px !important;
            }
          }
        }
      }

      // Gallery specific styles 
      div.collection-table.gallery { flex: 1.89; }
      div.collection-media-preview.gallery { flex: 1.11; }
    }
  }
}
