// styles for sitewide modals and modal configuration
@import 'shared';

.configured-modal,
.configured-modal-example {
  background-color: unset;

  .modal-content {
    border: 3px #286090 solid;
    border-radius: 0;

    .modal-title {
      margin-bottom: 20px !important;
      font-size: 22px !important;
    }

    .modal-text {
      margin-bottom: 40px;
      text-align: justify;
      padding-left: 15px;
      padding-right: 15px;
    }

    .modal-dismiss-options {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  }
}

#sitewide-modal-2,
#download-modal-2 {
  background-color: unset;

  #modal-donate-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black */
  z-index: 999;
}

.configured-modal {
  position: fixed;
  z-index: 2000;
  /* other modal styles */
}

.modal-header h2 .close {
  padding: 12px 14px;
  #close-modal {
    font-size: 21px;
  }
}

.modal-content {
  b { /* override Hyrax bolder style */
    font-weight: bold;
  }
  h2 {
    font-size:22px;
  }
  /* Download modal specific styles */
  .agreement-content {
    font-size: 14px;
    li {
      font-size: 12px;
      margin-left: -20px;
    }
    .agreement-items-wrapper {
      font-size: 12px;
    }
    .checkbox {
      label {
        padding-left: 20px;
      }
      input[type="checkbox"] {
        margin: 4px 0 0 -20px;
        position: absolute;
      }
    }
  }
  .rc-wrapper { /* reCAPTCHA wrapper */
    margin-bottom: 4px;
    .g-recaptcha {
      width: fit-content;
      margin: auto;
    }
  }
}

/* blacklight-modal styles */

#blacklight-modal {
  .modal-header {
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
    .modal-title {
      border-bottom: none;
      margin-bottom: 0;
    }
    .blacklight-modal-close {
      padding-top: 25px;
    }
  }

  .modal-body {
    .search-form {
      padding-bottom: 10px;
    }
    .facet-pagination {
      padding-left: 0px;
      padding-right: 0px;
      margin-top: 10px;
      .sort-options {
        .btn-outline-secondary:hover {
          background-color: #286090;
        }
        .btn-outline-secondary.active:not(:disabled):not(.disabled) {
          background-color: #286090
        }
      }
    }
  }
}
