$tablet-max: 768px;
$desktop-min: 769px;
$font-color: #333;
$button-color: #286090;
$button-font-color: #fff;
$button-border-color: #265b89;
$button-hover-color: #286090;
$button-hover-font-color: #fff;
$button-hover-border-color: #265b89;
$button-disabled-color: #ccc;
$button-disabled-font-color: #eee;
$button-disabled-border-color: #ccc;
$link-disabled-font-color: #ccc;
$link-font-color: #2e74b2;
$line-color: #337ab7;
$line-inactive-color: #d4d4d4;
$block-background-color: #efefef;
$block-border-color: #d4d4d4;
$ms-blue: #003880;
$ms-dark-blue: #002c64;

.material-icons.tooltip-icon:before {
  content: 'help_outline';
}

.material-icons.tooltip-icon {
  color: $font-color;
  font-size: 11px;
  margin-left: 3px;
}

.tooltip {
  pointer-events: none; /* fix the boostrap tooltip flickering issue */
}

div.wrapper_for_2 span.input-group-btn.field-controls {
  width: auto;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.block {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  padding: 10px;
}