@import 'variables';

/* global styles added to accommodate Hyrax 5 update */
.hide {
  display: none !important;
}

@media (min-width: 768px) {
  .col-md-8 {
    max-width: initial;
  }
}
/* /global styles added to accommodate Hyrax 5 update */

.hidden {
  display: none !important;
}

::placeholder {
  color: #ccc !important;
}

.badge-pill {
  padding: 10px !important;
}

#content-wrapper.container {
  width: unset;
  max-width: 1200px;
}

.collapse-button  {
  a {
    font-weight: 500;
  }

  a:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

// Overwrite default Hyrax styling
#documents td {
  vertical-align: top;
}

.toggle-btn button {
  background-color: transparent;
  border: none;
  i {
    font-size: 19px;
  }
  span {
    font-size: 14px;
    vertical-align: text-bottom;
  }
}

label.required::after {
  content: " *";
}

.badge, .badge-info, .badge-success, .badge-danger, td.status span {
  display: inline;
  padding: .2em .6em .3em;
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 0;
}

/* override jquery-confirm styles */
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-default,
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-default:hover,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-default,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-default:hover,
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-secondary, 
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-secondary:hover, 
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-secondary,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-secondary:hover {
  background-color: $button-color !important;
  color: $button-font-color !important;
  border-color: $button-border-color !important;
  white-space: nowrap !important;
}

/* global and utility classes below.  Some will be available in Boostrap 4.0+ */
.m-0 {
  margin: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.w-100 {
  width: 100%;
}
.w-90 {
  width: 90%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-33 {
  width: 33%;
}
.w-30 {
  width: 30%;
}
.w-25 {
  width: 25%;
}
.w-20 {
  width: 20%;
}
.w-10 {
  width: 10%;
}
.w-auto {
  width: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.bg-light-gray {
  background-color: #eee;
}

.btn-lg {
  padding: 4px 26px;
  font-size: 14px;
}

.scrolling-wrapper{
  overflow-x: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.hint-sm {
  font-style: italic;
  font-size: 12px;
  font-weight: normal;
}
.text-success {
  color: green;
}
.text-alert {
  color: red;
}
.text-disabled {
  color: $disabled-font-color;
}
.outline-red {
  outline: 1px solid red;
}
.fw-normal {
  font-weight: normal !important;
}
.dot-delimited span:after {
  content: " · ";
}
.dot-delimited span:last-child:after {
  content: '';
}
.link-alert, .link-alert:hover, .link-alert:visited {
  color: red !important;
}

ul.align-li {
  /* aligning list items to the left (minimum indentation) */
  padding-left: 20px;
}

.text-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.block-padding {
  padding: 12px 15px;
}

.block-padding-11 {
  padding: 11px;
}

.no-padding {
	padding: 0 !important;
}

.no-vertical-padding {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.no-horizontal-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.horizontal-padding-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.ui-loading-whole-page {
  background: image-url('loading.gif') center center no-repeat;
  background-color: #fff;
  background-size: 90px;
  opacity: .7;
  z-index: 9999;
  .overlay-message {
    padding: 1px 12px;
    background-color: rgba(245, 245, 245, 0.8);
    color: #555;
    font-size: .9em;
    border-radius: 7px;
  }
}
.break-all {
  word-break: break-all;
}

.break-overflow {
  /* wraps long urls while allowing other text to break normally */
  overflow-wrap: anywhere;
  word-break: normal;
}

.navbar-brand {
  padding: 15px 0;
}

.navbar-nav > div.nav-item > a {
  padding: 10px 8px;
}
.title-min-width {
  min-width: 120px;
  max-width: 250px;
}
.text-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
}
.text-truncate-lines {
  overflow:hidden;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 250px;
}
.text-truncate-lines.two-lines {
  line-height: 2rem;
  max-height: 4rem; /* number of lines x line height */
  -webkit-line-clamp: 2;
}
.text-truncate-lines.three-lines {
  line-height: 2rem;
  max-height: 6rem;
  -webkit-line-clamp: 3;
}
.no-result {
  text-align: center;
  margin:50px auto;
}
.navbar-brand {
  font-size: 18px;
  padding: 5px;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  color: #aaa;
  font-size: 22px;
  text-shadow: 0px 8px;
  z-index: 999999;
}

/* modal styles */
.modal-content {
  h2 {
    font-size:22px;
  }
  .agreement-content {
    font-size: 14px;
    li {
      font-size: 12px;
      margin-left: -20px;
    }
    .agreement-items-wrapper {
      font-size: 12px;
    }
  }
  .rc-wrapper { /* reCAPTCHA wrapper */
    margin-bottom: 4px;
    .g-recaptcha {
      width: fit-content;
      margin: auto;
    }
  }

}

.form-group.hidden .material-icons.tooltip-icon {
  display: none;
}

.material-icons.tooltip-icon:before {
  content: 'help_outline';
}

.material-icons.tooltip-icon {
  color: $font-color;
  font-size: 11px;
  margin-left: 3px;
}

.tooltip {
  pointer-events: none; /* fix the boostrap tooltip flickering issue */
}

div.wrapper_for_2 span.input-group-bt.field-controls {
  width: auto;
}

.mlr-auto {
  margin-left: auto;
  margin-right: auto;
}

.block {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  padding: 10px;
}

.block-sq {
  border: 1px solid #DDDDDD;
  border-radius: 0;
  padding: 10px;
}

.block-tab-content {
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  border-radius: 0;
  padding: 10px;
}

.block-fill {
  background-color: $block-background-color;
}

.select2-container-multi {
  height: unset !important;
}

.checkbox-list {
  div {
    display: flex;
  }
  div > * {
    align-self: baseline;
  }
  div > input[type=checkbox] {
    margin: 0 1ch 0 0;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* /sliders */