@import 'shared';

/* set box sizing for the circles and line in between */
html {
  box-sizing: border-box !important;
}
*,
*:before,
*:after {
  box-sizing: inherit !important;
}


/* global and utility classes below.  Some will be available in Boostrap 4.0+ */
.m-0 {
  margin: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}

.no-gutter > [class*='col-'] {
  padding-right:0 !important;
  padding-left:0 !important;
}
.ui-loading-whole-page {
  background: image-url('loading.gif') center center no-repeat;
  background-color: #fff;
  background-size: 90px;
  opacity: .5;
  z-index: 9999;
}
.break-all {
  word-break: break-all;
}
.navbar-brand {
  padding: 15px 0;
}
.navbar-nav > li > a {
  padding: 10px 8px;
}
#search-form-header {
  margin-top: 0.6em;
}
.text-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.no-result {
  text-align: center;
  margin:50px auto;
}
.navbar-brand {
  padding: 5px;
}

.showcase.teams { /* / teams and projects show page styles */

  .flex { /* setting column with same height */
    display: flex;
  }

  .paginate-wrapper > [class*='col-'] {
    text-align: center;
    white-space: nowrap;
    font-size: 11px;
    div {
      white-space: nowrap;
      padding: 6px 12px;
    }
    .pagination {
      margin:0;
      text-align: center;
      li {
        display: inline-block;
      }
    }
  }

  .team-logo img {
    width: 60px;
    margin-right:16px;
    margin-bottom: 8px;
  }
  .team-title {

    .label, td.status span {
      display: inline;
      padding: .2em .6em .3em;
      font-weight: 700;
      font-size: 10px;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      border-radius: 0;
    }

  }
  h1 {
    margin-top:0;
  }
  .text-muted {
    font-size: 13px;
  }
  @media (max-width: 768px) {
    #showcase-title {
      font-size: 4.5vw;
    }
    .text-muted {
      font-size: 2.4vw;
    }
  }
  @media (min-width: 768px) {
    #showcase-title {
      font-size: 28px;
      margin-bottom: 4px;
      padding-bottom: 0;
    }
  }
  h4 {
    font-size: 14px;
  }
  .hyc-blacklight, hyc-bl-results {
    margin:0;
    padding:0;
  }
  .hyc-bl-results ul {
    list-style-type: square;
  }
  .represents-organization {
    width: 100%;
    @media (max-width: 991px) {
      margin-left: 1px;
    }
    background-color: #eee;
    border: 1px solid #ddd;
    padding-left: 1px;
    padding-right: 5px;
    .fa-university {
      font-size: 52px;
      line-height: 68px;
      margin-right: 5px;
    }
    > [class^=col] {
      padding-left: 6px;
      padding-right: 0;
      div {
        float:none;
        clear:both !important;
      }
      b { white-space: nowrap; }
    }
    .icon { padding-left: 2px; }
    .title { padding-left: 15px; }
    sup {
      font-size: 14px;
      top: 4px;
      left: -17px;
    }
  }

  table.teams-projects {
    th, td {
      text-align: center;
    }
    th.checkbox {
      display: table-cell;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: top;
    }
    th.no-sort.sorting_asc:after,
    th.no-sort.sorting_desc:after {
      /* remove the sorting arrows in the checkbox column */
      content: "" !important;
    }
    td.checkbox {
      display: table-cell;
    }
    td {
      font-size: 12px;
    }
    .remove-column {
    }
  }

  .long-badge {
    a {
      display: inline-block;
      width: 100%;
      span {
        display: inline-block;
        font-weight: bold;
        font-size: 10px;
        width: 100%;
        padding-top: 4px;
        padding-bottom: 4px;
      }
    }
  }

  .view-type-group {
    white-space: nowrap;
    .btn-primary, .btn-default, .btn-sm, .btn-xs, .btn-big {
      background-color: transparent;
      color: $font-color;
      border-color: transparent;
    }
  }

  .choose-columns-media {
    float: none;
  }

  .document {
    header, dl {
      width: 106px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
    }
    @media (min-width: 768px) {
      header, dl {
        width: 150px;
      }
    }
    h3 {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 0 4px;
      margin: 0 !important;
    }
    dd {
      text-align: center;
      height: 18px;
    }
  }

  .show-actions {
    padding-left: 10px;
    padding-right: 6px;
  }

  #add-selected-to-cart {
    font-size: 11px;
    @media (min-width: 768px) {
      max-width: 155px;
    }
  }

  .dropdown-toggle {
    @media (min-width: 768px) {
      max-width: 100px;
    }
  }

  .gallery {
    .batch_add_selector {
      float: left;
      margin: 0;
    }
    .file_listing_thumbnail {
      width: 100px;
      height: 100px;
      margin-top: 10px;
      @media (min-width: 768px) {
        width: 140px;
        height: 140px;
      }

    }
    .long-badge {
      a {
        margin-top: 6px;
        span {
          width:80%;
        }
      }
    }
    .thumbnail {
      /* max-width: 220px; */
      height: 100%;
    }
    .document {
      min-width: fit-content;
      border-bottom: none !important;
      -webkit-flex: inherit;
    }

  }

  .collection-count .label {
    width: 77px;
  }

} /* / teams and projects show page styles */


.showcase {

  .content-wrapper.fixed-width {
    max-width: 1200px;
    border: 2px solid #efefef;
    margin-top: 18px;
  }

  #add-selected-to-cart, .add-selected-to-cart {
    .material-icons {
      font-size: 9px;
    }
  }

  .main-content {
    background-color: #fff;
  }

  .nav-tabs {
    border-bottom: 1px solid $line-inactive-color;
    li {
      border-bottom: 3px solid transparent;
      a, a:hover {
        border-top: none;
      }
    }
    li.active {
      border-bottom: 3px solid $line-color;
      a, a:hover {
        margin-right: 0;
        border-top: none;
      }
    }
  }

  .panel-default {border: none;}

  /* ************************** */

  .btn {
    border-radius: 0;
  }

  .btn-primary, .btn-default, .btn-sm, .btn-xs, .btn-big {
    background-color: $button-color;
    color: $button-font-color;
    border-color: $button-border-color;
  }

  .btn-disabled {
    background-color: $button-disabled-color;
    color: $button-disabled-font-color;
    border-color: $button-disabled-border-color;
  }

  .link-disabled {
    color: $link-disabled-font-color;
  }

  .input-group-btn.field-controls .btn {
    /* mainly applies to button wrapper around add and remove glyphicons */
    background-color: transparent;
    color: $font-color;
    border-color: transparent;
  }

  .show-actions {
     padding: 3.5vw 1vw 0 0;
    @media (min-width: 768px) {
      padding: 1.9vw 1vw 0 0;
    }
  }

  .badge-wrapper {
    display: block;

    div {
      display: inline-block;
    }

    .label {
      color: $font-color;
      border: 1px solid $font-color;
      border-radius: .75em;
      background-color: transparent;
      font-size: 1.6vw;
      @media (min-width: 768px) {
        font-size: 1.3vw;
      }
      @media (min-width: 1200px) {
        font-size: 16px;
      }

    }
  }

  #showcase-title-wrapper {
    background-color: #efefef;
  }

  #showcase-title {
    overflow-wrap: break-word;
    margin-bottom: 0.5vw;
    padding-bottom: 8px;
    font-size: 4vw;
    @media (min-width: 768px) {
      font-size: 3vw;
    }
    @media (min-width: 1200px) {
      font-size: 36px;
    }
  }

  h1 {
    margin-top: 10px;
  }
  h2 {
    border-bottom: 3px solid $line-color;
    padding: 6px 8px 6px 0;
    font-size:13px;
    @media (min-width: 414px) {
      font-size: 2.6vw;
    }
    @media (min-width: 768px) {
      font-size: 1.2vw;
    }
    @media (min-width: 1200px) {
      font-size: 17px;
    }
    a.btn {
      float: right;
      color: $font-color;
      .glyphicon {
        font-size: 2vw;
        top: -10px;
      }
    }
  }
  h3 {
    padding: 0 14px;
    font-size:13px;
    font-weight: normal;
    @media (min-width: 414px) {
      font-size: 2.6vw;
    }
    @media (min-width: 768px) {
      font-size: 1.2vw;
    }
    @media (min-width: 1200px) {
      font-size: 17px;
    }
  }
  h4, .content-block-intro {
    padding: 0 12px;
    font-size: 12px;
    font-weight: normal;
    @media (min-width: 414px) {
      font-size: 2.5vw;
    }
    @media (min-width: 768px) {
      font-size: 1.1vw;
    }
    @media (min-width: 1200px) {
      font-size: 16px;
    }
  }
  .content-block-intro {
    margin-bottom: 30px;
  }
  .content-block-intro.media {
    margin-bottom: 8px;
  }
  .panel-title {
    background-color: #efefef;
    padding: 0;
    text-align: center;

    a.btn {
      font-size:12px;
      /* font-size: 1.4vw;  */
      @media (min-width: 414px) {
        font-size: 2.4vw;
      }
      @media (min-width: 768px) {
        font-size: 1.3vw;
      }
      @media (min-width: 1200px) {
        font-size: 16px;
      }
      padding: 2px 0;
    }

    .glyphicon {
      top: 3px;
      margin: 0 5px;
    }
  }

  .panel-group {
    .glyphicon {
      float:right;
      top: 4px;
    }
    .panel-collapse {
      .showcase-label, .showcase-value {
        padding-left: 30px;
      }
    }
  }

  .row {
    padding:4px 10px;
  }

  .row.collapse-button {
    padding:4px 15px;
  }

  #taxonomy-accordion-group {
    div {
      color: #000;
    }
    .collapse-accordion {
      background-color: #fafafa;
    }
  }

  .row.taxonomy-rank .showcase-label {
    padding-left: 8%;
  }

  .row.taxonomy-rank .showcase-value {
    padding-left: 8%;
  }

  .row .taxonomy-label {
    color: black;
  }

  .row .taxonomy-title {
    font-style: italic;
    color: black;
  }

  a.contributing-user {
    font-style: normal;
  }

  .indicators-wrapper .row {
    margin-left: 0;
  }

  .image-acq-detail, .indicators-wrapper {
    .indicators {
      position: relative;
      float: left;
      width: 48px;
      height: 100%;
      text-align: center;
      .glyphicon {
        font-size: 30px;
        top: 6px;
        z-index: 3;
      }
    }
    @media (max-width: 460px) { /* hide the column around this breakpoint since the layout is not working well */
      .indicators {display: none !important}
    }
    /* this is breaking the collapse functionality. remove later if not needed
    .row.table{
      display: table;
    } */
    /* set the columns to same height */
    .table-cell {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
  }

  .line {
    position:relative;
    width:80%;
    margin:auto;
    overflow:hidden;
  }
  .line:after {
    content:" ";
    width:2px;
    position:absolute;
    z-index:1;
    top:0;
    bottom:0;
    left:50%;
    background: linear-gradient(
      to bottom,
      #fff,
      #fff 20%,
      #ddd 20%,
      #ddd
    );
    background-size: 100% 10px;
  }
  .circle {
    width:13px;
    height:13px;
    border-radius:50%;
    background:#fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    float:right;
    margin-right:17px;
    margin-top:8px;
    position:relative;
    z-index:2;
      bottom:5px;
  }
  .circle.first:before,
  .circle.last:before {
    content:" ";
    position:absolute;
    width:4px;
    left:50%;
    margin:2px 0 2px -2px;
    background:#fff;
    bottom:100%;
    height:50px;
    z-index:3;
    background:#fff;
  }
  .circle.last:before{
    bottom:auto;
    top:100%;
  }
  .circle.last {
      position: absolute;
      bottom: 0;
      margin-right:0;
      right:17px;
  }
  /* styles for parent media tab, solid vertical line */
  .line.solid:after {
    content:" ";
    width:2px;
    position:absolute;
    z-index:1;
    top:0;
    bottom:0;
    left:50%;
    background: #ddd;
    background-size: 100% 10px;
  }
  .line.solid.one-circle-only:after {
    background: #fff;
  }
  .line.solid .circle.last {
      bottom: 13px;
  }

  .showcase-label, .showcase-value,
  .content-block-lg .row > div,
  .content-block .row > div {
    font-size: 12px;
    @media (min-width: 414px) {
      font-size: 2.4vw;
    }
    @media (min-width: 768px) {
      font-size: 1.3vw;
    }
    @media (min-width: 1200px) {
      font-size: 16px;
    }
  }

  .content-block-lg .media-block .row > div,
  .content-block .media-block .row > div,
  .content-block-lg .row.media-block > div,
  .content-block .row.media-block > div {
    font-size: 11px;
    @media (min-width: 414px) {
      font-size: 2.2vw;
    }
    @media (min-width: 768px) {
      font-size: 1.1vw;
    }
    @media (min-width: 1200px) {
      font-size: 12px;
    }
  }

  .content-block-lg {
    border: 2px solid #efefef;
  }
  .content-block-lg.row {
    padding-right: 0;
  }
  .panel-collapse.row {
    padding: 4px 0 4px 8px;
  }

  .showcase-link, .break-all {
    word-break: break-all;
  }

  .dropdown-menu {
    background-color: #fff;
    min-width: 82px;
    right: 0;
    left: unset;
    top: 80%;
    .btn:hover {
      color : $font-color;
      background-color: $button-color;
    }
    .btn {
      background-color: transparent;
      color: $font-color;
      border-color: transparent;
    }
    input:not([type=checkbox]) {
      width: 100%;
    }
  }

  [class*="choose-columns"] .dropdown-menu {
    color: $button-color;
    background-color: #fff;
    list-style-type: none;
    padding: 2px 8px;
    white-space: nowrap;
  }

  i.dropdown-toggle:hover {
    cursor: pointer;
  }

  div.preview {
    margin-top: 20px;
    background-color: #efefef;
    border: 1px solid transparent;
  }

  .preview-image {
    width:50%;
    margin: 10vw auto;
    display: block;

    @media (min-width: 768px) {
      width:35%;
    }
  }

  .media-block {
    .thumbnail {
      display:inline-block;
      border: none;
      margin-bottom: 4px;
      img {
        max-width: 90%;
      }
    }
  }

  .row.indent {padding-left: 32px}

  .visibility-link .label, .visibility-link td.status span, td.status .visibility-link span {
    font-size: .65em;
  }

  /* media showcase specific styles */
  .media-showcase {
    small.badge-wrapper div {
      font-size: 1.4vw;
      line-height: 2vw;
      color: #4A4A4A;
      a, a:link, a:visited {
        color: #20527E;
      }
    }
    .show-actions {
      padding: 0.6vw 0;
      @media (min-width: 991px) { /* show 1 button on each line when smaller than this width */
        padding: 2.7vw 0;
      }
      .btn {
        margin-left: 0.5vw;
        margin-bottom: 4px;
        min-width: 86px;
        @media (max-width: 990px) { /* show 1 button on each line when smaller than this width */
          float: none;
          display: block;
          min-width: 100px;
        }
      }
      .dropdown-menu {
        right: 0;
        left: auto;
      }
    }
    div.preview {
      margin-top: 0;
      background-color: transparent;
      border: 1px solid transparent;

      .viewer-wrapper {
        margin-top: 10px;
        background-color: transparent;
      }
    }

  }
  /* tags specific styles */
  #tags-list {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* /media showcase specific styles */

}
