@import 'shared';

/* set box sizing for the circles and line in between */
html {
  box-sizing: border-box !important;
}
*,
*:before,
*:after {
  box-sizing: inherit !important;
}

nav#masthead {
  .container-fluid {
    width: unset;
    max-width: inherit;
  }
}

.showcase.cart {
  input.batch_document_selector, input[type=checkbox].disabled {
    margin: 4px 0 0 !important;
  }
  input[type=text].disabled {
    margin: unset;
  }

  .modal-dialog {
    input[type=checkbox].disabled {
      margin: 0 !important;
    }
    input[type=text].disabled {
      margin: unset;
      padding: 1px 2px !important;
    }
  }

}

.showcase.batch-submission {
  background-color: #fff;
  .error-list {
    li {
      color: red;
    }
  }
  .warn-list {
    li {
      color: #000;
    }
  }
  .error-rows, .warn-rows {
    th, td {
      border: 1px solid #999;
      font-size: 11px;
    }
    td {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 200px;
    }
  }
  .upload-file {
    margin: 30px auto;
    text-align: center;
    #manifest_file {
      display: inline;
      width:200px;
    }
  }
  #btn-submit {
    margin: auto 6px;
  }
}
/*
.showcase.teams,
.showcase.media-works,
.showcase.browse,
.showcase.organizations,
.showcase.dl-request,
.showcase.cart,
.showcase.transfer
*/
.showcase {

  .viewer-wrapper iframe {
    position: inherit;
  }

  ul.error-list, ul.warn-list {
    margin-left: 0;
    margin-block-start: 0;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;

    li {
      margin-left: 20px;
    }
  }

  input.batch_document_selector,
  input.disabled {
    margin: initial;
    padding: 5px 10px;
  }

  #modal-archive-info {
    .modal-body {
      padding-top: 0;
      padding-bottom: 0;
    }

    hr {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    ul {
      list-style-type: none;
      padding-inline-start: 20px;
    }

    #archive-contents-file-list > ul {
      padding-inline-start: 0;
    }

    .archive-contents-header {
      font-weight: 500;
      margin-bottom: 5px;
    }
  
    li.file-item > i.far, li.dir-item > i.far {
      margin-right: 5px;
    }
  }

  .modal-definitions {
    h2 {
      margin-bottom: 0;
    }

    hr {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .modal-body .term-container:last-child hr {
      display: none;
    }

    .term-name {
      font-weight: 500;
      margin-bottom: 3px;
    }
  }

  .modal-dialog {
    input[type=checkbox].disabled {
      margin: 0 !important;
    }
    input[type=text].disabled {
      margin: unset;
      padding: 1px 2px !important;
    }
  }

  .modal-dialog.modal-wide {
    width: 90%;
    @media (min-width: 769px) {
      max-width: 800px;
    }
  }

  .switch-label {
    font-size: 13px;
    vertical-align: bottom;
  }

  .checkbox-list label, 
  label[for="user_Other: "] {
    font-weight: normal !important;
  }

  .profile-checkbox-list {
    [type="checkbox"] {
      width: 11px;
      margin-top: 0;
      vertical-align: top;
    }
    label.cb {
      font-size: 12px;
    }
  }
  label.cb {
    display: block;
    margin-top: -22px;
    margin-left: 18px;
    font-weight: normal;
  }
  .super-title {
    font-size: 18px;
    color: #888;
    font-style: italic;
  }
  .title.browse {
    margin-top:30px;
  }
  .browse {
    h1 {
      font-size: 24px;
      line-height: 1.1;
      .fa {
        font-size: 44px;
        vertical-align: top;
        float: left;
        margin-right: 12px;
      }
      .counts {
        font-weight: normal;
        font-size: 14px;
      }
    }
    h1.categories {
      line-height: 1.6;
    }

    div.categories {
      h2 {
        line-height: 2;
        font-size: 16px;
      }
    }
    h2 {
      border-bottom: none;
      font-size: 20px;
      line-height: 1.2;
      .fa {
        font-size: 33px;
        vertical-align: top;
        float: left;
        margin-right: 8px;
      }
      [class^="ms2-icon-"] {
        font-size: 41px;
        vertical-align: top;
        float: left;
        margin-right: 8px;
      }
      .po-image {
        width: auto;
        float: left;
        margin-right: 12px;
      }
      .counts {
        font-weight: normal;
        font-size: 14px;
      }
    }
    @media (max-width: 460px) {
      h1 {
        font-size: 20px;
      }
      h2 {
        font-size: 16px;
      }
    }
    p {
      font-size: 14px;
      clear: both;
    }
    .page-description {
      border-bottom: 1px solid #ddd;
      margin: -20px 10px 20px;
      padding-bottom: 15px;
      p {
        font-size: 14px;
      }
    }
    .paginate-wrapper {
      margin-top: 15px;
    }
    .body-wrapper {
      margin: 0 20px;
    }
  }

  .flex { /* setting column with same height */
    display: flex;
  }

  .paginate-wrapper > [class*='col-'] {
    text-align: center;
    white-space: nowrap;
    font-size: 11px;
    div {
      white-space: nowrap;
      padding: 6px 12px;
    }
    .pagination {
      margin:0;
      text-align: center;
      li {
        display: inline-block;
      }

      /* show only the Prev and Next buttons for mobile */
      @media (max-width: 767px) {
        li:nth-child(n+3) {
          display: none;
        }
      }
    }
  }

  .team-logo img {
    max-width: 66px;
    max-height: 66px;
    margin-right:16px;
    margin-top: 15px;
    @media (min-width: 769px) {
      max-width: 80px;
      max-height: 80px;
    }
  }

  .team-title {
    .label, td.status span {
      display: inline;
      padding: .2em .6em .3em;
      font-weight: 700;
      font-size: 10px;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      border-radius: 0;
    }
  }

  h1 {
    margin-top:0;
  }
  .text-muted {
    font-size: 13px;
  }
  @media (max-width: 767px) {
    #showcase-title {
      font-size: 4.5vw;
    }
    .text-muted {
      font-size: 2.4vw;
    }
  }
  @media (min-width: 768px) {
    #showcase-title {
      font-size: 28px;
      margin-bottom: 4px;
      padding-bottom: 0;
    }
  }
  h4 {
    font-size: 14px;
  }
  .hyc-blacklight, hyc-bl-results {
    margin:0;
    padding:0;
  }
  .hyc-bl-results ul {
    list-style-type: square;
  }
  .represents-organization {
    width: 100%;
    @media (max-width: 991px) {
      margin-left: 1px;
    }
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 5px 5px 5px 1px;
    .fa-university {
      font-size: 52px;
      line-height: 68px;
      margin-right: 5px;
    }
    > [class^=col] {
      padding-left: 6px;
      padding-right: 0;
      div {
        float:none;
        clear:both !important;
      }
      b { white-space: nowrap; }
    }
    .icon { padding-left: 2px; }
    .title { padding-left: 15px; }
    sup {
      font-size: 14px;
      top: 4px;
      left: -17px;
    }
  }

  table[class*=list-table] {
    th {
      white-space: nowrap;
    }
  }

  table.teams-projects, table.media-works, table.collections-list-table {
    th, td {
      text-align: center;
    }
    th.checkbox {
      display: table-cell;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: top;
    }
    th.no-sort.sorting_asc:after,
    th.no-sort.sorting_desc:after {
      /* remove the sorting arrows in the checkbox column */
      content: "" !important;
    }
    td.checkbox {
      display: table-cell;
    }
    td {
      font-size: 12px;
    }
  }

  .long-badge {
    a {
      display: inline-block;
      width: 100%;
    }
    span {
      display: inline-block;
      font-weight: bold;
      font-size: 8px !important;
      width: 100%;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }

  .view-type-group {
    white-space: nowrap;
    .btn-primary, .btn-default, .btn-sm, .btn-xs, .btn-big {
      background-color: transparent;
      color: $font-color;
      border-color: transparent;
    }
  }

  .choose-columns-media {
    float: none;
  }

  .document {
    header, dl {
      width: 106px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
    }
    @media (min-width: 768px) {
      header, dl {
        width: 150px;
      }
    }
    h3 {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 0 4px;
      margin: 0 !important;
    }
    dd {
      text-align: center;
      height: 18px;
    }
  }

  .show-actions {
    padding: .5vw 1vw;
    .btn {
      margin-bottom: 1px;
      padding: 5px 10px;
      font-size: 8px;
      @media (min-width: 767px) {
        font-size: 12px;
      }
      line-height: 1.5;
    }
    .btn:hover {
      color: $button-hover-font-color;
      background-color: $button-hover-color;
      border-color: $button-hover-border-color;
    }
    .btn-disabled:hover {
      cursor: not-allowed;
      color: $button-disabled-font-color;
      background-color: $button-disabled-color;
      border-color: $button-disabled-border-color;
    }
    .dropdown-menu {
      .btn {
        text-align: left;
      }
    }
  }

  .batch-action-buttons {
    .btn, .text {
      margin-right: 4px;
      font-size: 11px;
    }
    margin-bottom: 4px;
  }
  @media (max-width: 768px) {
    .batch-action-buttons {
      .btn, .text, form {
        width: 100%;
      }
      .btn, .text {
        margin: 0 0 3px;
      }
    }
  }

  #add-selected-to-cart {
    font-size: 11px;
    @media (min-width: 768px) {
      max-width: 144px;
    }
  }

  div.filters, div.filter-by {
    background-color: $block-background-color;
    border: 1px solid $block-border-color;
    padding: 6px;
    margin: 0 -10px 6px -10px;

    .filter-label {
      font-weight: bold;
      font-size: 12px;
      color: $font-color;
      padding-right: 0;
    }
    select, p {
      background-color: #fff;
      border: 1px solid $block-border-color;
      padding: 4px 6px;
      font-size: 11px;
    }
    p {
      width: max-content;
    }
    .remove-filter-all {
      font-size: 11px;
      color: $font-color;
    }
  }

  .dropdown-toggle {
    @media (min-width: 768px) {
      max-width: 100px;
    }
  }

  .gallery {
    .batch_add_selector {
      position: absolute;
      left: 10px;
    }
    .file_listing_thumbnail {
      width: 100px;
      height: 100px;
      margin-top: 10px;
      @media (min-width: 768px) {
        width: 140px;
        height: 140px;
      }

    }
    .long-badge {
      a {
        margin-top: 6px;
        span {
          width:80%;
        }
      }
    }
    .thumbnail {
      /* max-width: 220px; */
      height: 100%;
    }
    .document {
      min-width: fit-content;
      border-bottom: none !important;
      -webkit-flex: inherit;
      flex: inherit;
    }

  }

  .collection-count {
    span {font-size: 12px}
    span.label {
      width: 77px;
      font-size: 11px;
      margin-right: 4px;
    }
  }

} /* / .showcase.teams, .showcase.media-works, .showcase.browse, .showcase.organizations {  */


.showcase {

  /* hide the collapse/expand buttons when responsive */
  table.dataTable.dtr-inline.collapsed > tbody {
    tr.parent > td:first-child:before, 
    tr.parent > th:first-child:before,
    tr > td:first-child:before, 
    tr > th:first-child:before {
      content: none;
      display: none;
    }
  }

  table.dataTable {
    tr {
      border-bottom: none;
    }
    tr.child {
      background-color: #f9f9f9;
      border-top: none;
      border-bottom: 3px solid #ddd;
    }
    td {
      border-top: 1px solid #eee;
    }
    td.child {
      text-align: left;
      padding-top: 0;
      padding-bottom: 18px;
      ul {
        margin-left: 35px;
      }
      li {
        padding: 0.1em 0;
        display: inline-block;
        .dtr-title {
          text-align: right;
          min-width: auto;
        }
        .dtr-title::after {
          content: ':';
        }
        .dtr-data {
          text-align: left;
          margin-right: 15px;
        }
      }
    }
  }

  table.dataTable thead > tr > th {
    padding-left: 30px;
    padding-right: 30px;
  }

  .flash-wrapper {
    padding: 0;
    .alert {
      margin: 0 12px;
    }
  }

  .modal-content {
    h2 {
      font-size: 15px;
    }
    .add-works {
      font-size: 14px;
      input {
        border: none;
        font-weight: bold;
      }
    }
    .modal-header {
      border: none;
      padding: 8px 15px 0;
    }
    .modal-title {
      border-bottom: none;
    }
    .modal-footer {
      border-top: none;
      text-align: left;
    }
    .dl-button-wrapper {
      min-height: 75px;
      padding-top: 22px;
    }
  }

  .navbar {
    min-height: 30px !important;
  }

  .navbar-inverse-dark {
    background-color: $ms-dark-blue;
  }

  .controls {
    .navbar {
      background-color: transparent;
      height: 30px !important;
      margin-bottom: 0;
    }
    .navbar-nav > li > a {
      color: #fff;
      height: 30px;
      padding-top: 5px;
    }
  }

  .logo {
        white-space: nowrap;

  }

  .secondary-nav * {
    font-size: 14px;
    li.dropdown  {
      margin-left: 0 !important;
      @media (min-width: 767px) {
        margin-left: 7px !important;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 374px) {
    li.browse-links {
      width: 150px;
    }
    .secondary-nav * {
      font-size: 10px;
    }
  }
  @media (min-width: 375px) and (max-width: 767px) {
    li.browse-links {
      width: 200px;
    }
    .secondary-nav * {
      font-size: 12px;
    }
  }

  @media (max-width: 767px) {
    .navbar-header {
      margin-left:0;
      margin-right:0;
      .logo {
        text-align: center;
        margin: 10px auto;
      }
      .navbar-brand {
        float: none;
      }
      .navbar-toggle {
        float: none;
      }
      > div {
        white-space: nowrap;
        padding-right: 0;
      }
    }
    .nav > li {
      display: inline-block;
      vertical-align: top;
    }
    .sidebar {
      .nav > li {
        display: block;
      }
    }
    .dropdown-menu li {
      margin-left: -12px;
    }
    #top-navbar-collapse {
      margin-left: 20px;
    }
    .divider {
      margin: 1px 0;
    }
  }

  .content-wrapper {
    padding-bottom: 30px;
  }

  .content-wrapper.fixed-width {
    max-width: 1200px;
    border: 2px solid #efefef;
    margin-top: 18px;
  }

  #add-selected-to-cart, .add-selected-to-cart {
    .material-icons {
      font-size: 9px;
    }
  }

  .main-content {
    background-color: #fff;
  }

  .nav-tabs {
    border-bottom: 1px solid $line-inactive-color;
    li {
      border-bottom: 3px solid transparent;
    }
    li.active {
      border-bottom: 3px solid $line-color;
      a, a:hover {
        margin-right: 0;
      }
    }
  }


  .panel-default {
    border: none;
    box-shadow: none;
  }

  .panel-body {
    padding: 15px;
  }

  .edit_media .panel {
    margin-bottom: 0 !important;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .edit_media h2 {
    margin-top: 10px;
  }

  /* ************************** */

  .btn {
    border-radius: 3px;
  }
  .btn-wrapper.col-xs-12 {
    padding: 16px;
  }

  .btn-primary, .btn-default, .btn-sm, .btn-xs, .btn-big,
  .btn-primary:hover, .btn-default:hover, .btn-sm:hover, .btn-xs:hover, .btn-big:hover {
    background-color: $button-color;
    color: $button-font-color;
    border-color: $button-border-color;
    white-space: nowrap;
  }

  [class*="choose-columns"] {
    button, button * {
      color: $button-color;
      background-color: #fff !important;
      outline: none;
    }
  }

  .btn-danger {
    background-color: $button-danger-color;
    border-color: $button-danger-color;
  }
  .btn-danger:hover {
    text-decoration: none;
    background-color: $button-hover-danger-color;
    border-color: $button-hover-danger-color;
  }

  .btn-wide {
    min-width: 100px;
  }

  .btn-disabled {
    background-color: $button-disabled-color;
    color: $button-disabled-font-color;
    border-color: $button-disabled-border-color;
  }

  .link-disabled {
    color: $link-disabled-font-color;
  }

  .input-group-btn.field-controls .btn {
    /* mainly applies to button wrapper around add and remove glyphicons */
    background-color: transparent;
    color: #286090;
    border-color: transparent;
  }

  .show-actions {
     padding: 3.5vw 1vw 0 0;
    @media (min-width: 768px) {
      padding: 1.9vw 1vw 0 0;
    }
  }

  .badge-wrapper {
    display: block;

    div {
      display: inline-block;
    }

    .label {
      vertical-align: text-top;
      @media (min-width: 1200px) {
        vertical-align: baseline;
      }
      color: $font-color;
      border: 1px solid $font-color;
      border-radius: .75em;
      background-color: transparent;
      font-size: 1.6vw;
      @media (min-width: 768px) {
        font-size: 1.3vw;
      }
      @media (min-width: 1200px) {
        font-size: 16px;
      }

    }
  }

  #showcase-title-wrapper {
    background-color: #efefef;
  }

  #showcase-title {
    overflow-wrap: break-word;
    margin-bottom: 0.5vw;
    padding-bottom: 8px;
    font-size: 4vw;
    @media (min-width: 768px) {
      font-size: 3vw;
    }
    @media (min-width: 1200px) {
      font-size: 36px;
    }
  }

  h1, .main-header h1 {
    font-size: 24px;
    margin-left: 0;
    margin-top: 10px;
  }
  h2 {
    border-bottom: 3px solid $line-color;
    padding: 6px 0 6px 0;
    font-size:13px;
    @media (min-width: 414px) {
      font-size: 2.6vw;
    }
    @media (min-width: 768px) {
      font-size: 1.2vw;
    }
    @media (min-width: 1200px) {
      font-size: 17px;
    }
    a.btn {
      float: right;
      color: $font-color;
      .glyphicon {
        font-size: 2vw;
        top: -10px;
      }
    }
  }
  h2.header-modal-definitions {
    display: flex;
    justify-content: space-between;

    a {
      text-transform: none;
      font-weight: normal;
    }
  }
  h3 {
    padding: 0 14px;
    font-size:13px;
    font-weight: normal;
    @media (min-width: 414px) {
      font-size: 2.6vw;
    }
    @media (min-width: 768px) {
      font-size: 1.2vw;
    }
    @media (min-width: 1200px) {
      font-size: 17px;
    }
  }
  h4, .content-block-intro {
    padding: 0 12px;
    font-size: 12px;
    font-weight: normal;
    @media (min-width: 414px) {
      font-size: 2.5vw;
    }
    @media (min-width: 768px) {
      font-size: 1.1vw;
    }
    @media (min-width: 1200px) {
      font-size: 16px;
    }
  }
  .content-block-intro {
    margin-bottom: 30px;
  }
  .content-block-intro.media {
    margin-bottom: 8px;
  }
  .panel-title {
    background-color: #efefef;
    padding: 0;
    text-align: center;

    a.btn {
      font-size:12px;
      /* font-size: 1.4vw;  */
      @media (min-width: 414px) {
        font-size: 2.4vw;
      }
      @media (min-width: 768px) {
        font-size: 1.3vw;
      }
      @media (min-width: 1200px) {
        font-size: 16px;
      }
      padding: 2px 0;
    }

    .glyphicon {
      top: 3px;
      margin: 0 5px;
    }
  }

  .panel-group {
    .glyphicon {
      float:right;
      top: 4px;
    }
    .panel-collapse {
      .showcase-label, .showcase-value {
        padding-left: 30px;
      }
    }
  }

  .row {
    padding:4px 10px;
  }

  .row.collapse-button {
    padding:4px 15px;
  }

  #taxonomy-accordion-group {
    div {
      color: #000;
    }
    .collapse-accordion {
      background-color: #fafafa;
    }
  }

  .row.taxonomy-rank .showcase-label {
    padding-left: 8%;
  }

  .row.taxonomy-rank .showcase-value {
    padding-left: 8%;
  }

  .row .taxonomy-label {
    color: black;
  }

  .row .taxonomy-title {
    font-style: italic;
    color: black;
  }

  a.contributing-user {
    font-style: normal;
  }

  .indicators-wrapper .row {
    margin-left: 0;
  }

  .image-acq-detail, .indicators-wrapper {
    .indicators {
      position: relative;
      float: left;
      width: 48px;
      height: 100%;
      text-align: center;
      .glyphicon {
        font-size: 30px;
        top: 6px;
        z-index: 3;
      }
    }
    @media (max-width: 460px) { /* hide the column around this breakpoint since the layout is not working well */
      .indicators {display: none !important}
    }
    /* this is breaking the collapse functionality. remove later if not needed
    .row.table{
      display: table;
    } */
    /* set the columns to same height */
    .table-cell {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
  }

  .line {
    position:relative;
    width:80%;
    margin:auto;
    overflow:hidden;
  }
  .line:after {
    content:" ";
    width:2px;
    position:absolute;
    z-index:1;
    top:0;
    bottom:0;
    left:50%;
    background: linear-gradient(
      to bottom,
      #fff,
      #fff 20%,
      #ddd 20%,
      #ddd
    );
    background-size: 100% 10px;
  }
  .circle {
    width:13px;
    height:13px;
    border-radius:50%;
    background:#fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    float:right;
    margin-right:17px;
    margin-top:8px;
    position:relative;
    z-index:2;
      bottom:5px;
  }
  .circle.first:before,
  .circle.last:before {
    content:" ";
    position:absolute;
    width:4px;
    left:50%;
    margin:2px 0 2px -2px;
    background:#fff;
    bottom:100%;
    height:50px;
    z-index:3;
    background:#fff;
  }
  .circle.last:before{
    bottom:auto;
    top:100%;
  }
  .circle.last {
      position: absolute;
      bottom: 0;
      margin-right:0;
      right:17px;
  }
  /* styles for parent media tab, solid vertical line */
  .line.solid:after {
    content:" ";
    width:2px;
    position:absolute;
    z-index:1;
    top:0;
    bottom:0;
    left:50%;
    background: #ddd;
    background-size: 100% 10px;
  }
  .line.solid.one-circle-only:after {
    background: #fff;
  }
  .line.solid .circle.last {
      bottom: 13px;
  }

  .showcase-label, .showcase-value,
  .content-block-lg .row > div,
  .content-block .row > div {
    font-size: 12px;
    @media (min-width: 414px) {
      font-size: 2.4vw;
    }
    @media (min-width: 768px) {
      font-size: 1.3vw;
    }
    @media (min-width: 1200px) {
      font-size: 16px;
    }
  }

  .content-block-lg .media-block .row > div,
  .content-block .media-block .row > div,
  .content-block-lg .row.media-block > div,
  .content-block .row.media-block > div {
    font-size: 11px;
    @media (min-width: 414px) {
      font-size: 2.2vw;
    }
    @media (min-width: 768px) {
      font-size: 1.1vw;
    }
    @media (min-width: 1200px) {
      font-size: 12px;
    }
  }

  .content-block-lg {
    border: 2px solid #efefef;
  }
  .content-block-lg.row {
    padding-right: 0;
  }
  .panel-collapse.row {
    padding: 4px 0 4px 8px;
  }

  .showcase-link, .break-all {
    word-break: break-all;
  }

  .dropdown-menu {
    background-color: #fff;
    min-width: 82px;
    right: 0;
    left: unset;
    top: 80%;
    .btn:hover {
      color : $font-color;
      background-color: $button-color;
    }
    .btn {
      background-color: transparent;
      color: $font-color;
      border-color: transparent;
    }
    input:not([type=checkbox]) {
      width: 100%;
    }
  }

  [class*="choose-columns"] .dropdown-menu {
    color: $button-color;
    background-color: #fff;
    list-style-type: none;
    padding: 2px 8px;
    white-space: nowrap;
  }

  i.dropdown-toggle:hover {
    cursor: pointer;
  }

  div.preview {
    margin-top: 20px;
    background-color: #efefef;
    border: 1px solid transparent;
  }

  .preview-image {
    width:50%;
    margin: 10vw auto;
    display: block;

    @media (min-width: 768px) {
      width:35%;
    }
  }

  .media-block {
    .thumbnail {
      display:inline-block;
      border: none;
      margin-bottom: 4px;
      img {
        width: 100px;
        height: 100px;
      }
    }
    .no-access-media-label {
      color: #777777;
      // font-weight: 500;
    }
  }

  .row.indent {padding-left: 32px}

  .visibility-link .label, .visibility-link td.status span, td.status .visibility-link span {
    font-size: .65em;
  }

  /* media showcase specific styles */
  .media-showcase {
    small.badge-wrapper div {
      font-size: 1.4vw;
      line-height: 2vw;
      color: #4A4A4A;
      a, a:link, a:visited {
        color: #20527E;
      }
    }
    .show-actions {
      padding: 0.6vw 0;
      @media (min-width: 991px) { /* show 1 button on each line when smaller than this width */
        padding: 2.7vw 0;
      }
      .btn {
        margin-left: 0.5vw;
        margin-bottom: 4px;
        min-width: 86px;
        @media (max-width: 990px) { /* show 1 button on each line when smaller than this width */
          float: none;
          display: block;
          min-width: 100px;
        }
      }
      .dropdown-menu {
        right: 0;
        left: auto;
      }
    }
    div.preview {
      margin-top: 0;
      background-color: transparent;
      border: 1px solid transparent;

      .viewer-wrapper, .viewer-wrapper-2d {
        background-color: transparent;
        height: 200px; // mobile view default

        p {
          text-align: center;
          font-size: 10px;
        }

        .viewer {
          height: 100%;
          padding: 10px;

          .viewer-content-2d {
            align-items: center;
            background-color: black;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;

            .image-wrapper {
              img {
                max-height: 125px; // mobile view default
              }
            }

            .not-ready {
              color: #ccc;
              font-size: 16px;
              padding: 0 20px 0 20px;
              text-align: center;
              overflow: hidden;
            }
          }
        }
      }

      // Medium screens, tablets (1 column)
      @media (min-width: 768px) {
        .viewer-wrapper, .viewer-wrapper-2d {
          height: 300px !important;

          .viewer .image-wrapper img {
            max-height: 225px !important;
          }
        }
      }

      // Large screens (2 column)
      @media (min-width: 992px) {
        .viewer-wrapper, .viewer-wrapper-2d {
          height: 500px !important;

          .viewer .image-wrapper img {
            max-height: 300px !important;
          }
        }
      }
    }

  }
  /* tags specific styles */
  #tags-list {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* /media showcase specific styles */

}

/* Media transfer page specific */
.showcase.transfer {

  h1, .main-header h1 {
    font-size: 28px;
    .fa {
      font-size: 35px;
    }
  }
  table {
    table-layout: fixed;
    min-width: 600px;
  }
  th, td {
    font-size: 12px;
    overflow-wrap: break-word;
    .btn {
      min-width: 60px;
      margin-right: 2px;
    }
  }
  form {
    max-width: 600px;
  }
  .title, .comment {
    max-width: 250px;
  }
}
/* /Media transfer page specific */

.admin-csv-links {
  padding-left: 10px;
}

.collection-export-links {
  margin-left: 12px;
  margin-top: 0.5em;
}

/* Works list data table specific */
.showcase table#datatable-media-list,table#datatable-bso-list,table#datatable-cho-list, table#collections-list-table {
  a.table-sort-header {
    color: inherit;
    text-decoration: none;

    span.glyphicon-sort {
      opacity:  0.3;
    }

    span.glyphicon-sort-by-attributes,span.glyphicon-sort-by-attributes-alt {
      opacity:  0.7;
    }
  }
}

/* specimen and cho specific */
.showcase {
  .object-showcase {

    @media (min-width: 768px) {
      .object-content-blocks-wrapper {
        column-count: 2;
        column-width: 200px;
      }

      .content-block-wrapper {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        break-inside: avoid;
      }

      .media-order-1 {
        overflow: auto;
      }
    }

    @media (max-width: 767px) {
      .object-content-blocks-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 100%;

        .content-block-wrapper {
          padding: 0px;
        }

        .media-order-1 {
          order: 1;
        }
        .media-order-2 {
          order: 2;
        }
        .media-order-3 {
          order: 3;
        }
        .media-order-4 {
          order: 4;
        }
      }
    }
  }
}

/* unauthorized/not found specific */
.showcase .error {
  div.block {
    margin-top: 30px;

    .row {
      margin-left: unset;
      margin-right: unset;
    }
  }
}

/* user profile page specific styles */
.showcase.profile {
  .showcase-label {
    font-weight: bold;
  }
  .control-label {
    text-transform: capitalize;
  }
  .form-group {
    min-height: 26px;
  }  
  .form-horizontal .control-label {
    padding-top: 0;
    text-align: left;
  }
}
