@import 'shared';

/*    .hide {display: block !important} */

/* NOTE: the styles below are shared between
   showcase edit page and hyrax edit page.  These styles will effect both pages
   TODO: might need to move these to global style sheet later */

.btn.btn-link.add,
.btn.btn-link.remove {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  color: $button-color;
  background-color: transparent;
  border-color: transparent;
}

input[type=checkbox].disabled {
  padding: 6px 12px;
  margin: inherit;
}

/* form[id^='edit_biological_specimen'] .select2-container { */
.select2-container {
  width:100% !important;
}

.red-border {
  border: 1px solid red;
}
/*  ************************** */


.showcase-edit {

  .fa.btn-remove {
    color: $button-color;
  }
  .fa.btn-remove.tooltip-icon {
    color: $link-disabled-font-color;
  }

  .multi_value .listing .input-group {
    margin-bottom: 0;
  }

  tr.file_set {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    td.thumbnail {
      margin-top: 5px;
    }
  }

  .button-container {
    text-align: center;
  }

  .permission-add-user.row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .permissions-add-user-label, .permissions-add-group-label {
    padding: 7px 15px;
  }

  .attachment-input .hint {
    font-size: 10px;
    color: #666;
    margin: 0 4px;
  }

  /* temporarily use fix font size */
  .showcase-label,
  .showcase-value,
  .content-block-lg .row > div,
  .content-block .row > div {
    font-size: 14px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 15px;
    a.btn {
      float: right;
      margin: -5px -10px -7px 0;
      color: $button-font-color;
    }
  }
  h2:not(.required-flag) {
    span {
      padding:0;
    }
  }
  .tooltip-inner {
    text-align: left;
  }

  .row {
    padding: 2px 8px;
  }

  .form-group {
    margin-bottom: 0;
  }

  #remote-file {
    .showcase-label, .showcase-value {
      width: 100% !important;
    }
  }

  .controls-remove-text {
    display: none;
  }

  .main-content .fa {
    color: $button-color;
  }

  .sidebar .fa {
    color: #ffffff;
  }

  .field-controls .add,
  .field-controls .remove {
    width: auto;
    text-align: left;
    .fa {
      font-size: 15px;
    }
  }

  .form-control {
    height: 30px;
    padding: 2px 8px;
  }
  textarea.form-control {
    height: auto;
  }

  .multi_value .listing li:not(:last-child), .controlled_vocabulary .listing li:not(:last-child) {
    margin-bottom: 0rem;
  }

  .indent {
    padding-left: 30px;
  }

  .required-tag {
    display: none !important; /* hide the hyrax required tag (use required-flag instead) */
  }

  .required-flag, .recommended-flag, .optional-flag {
    .label:empty {
      display:inline-block !important;
    }
    .label {
      background-color: #528253;
      font-size: 60%;
      font-weight: normal;
      margin-left: 3px;
      margin-top: 2px;
      vertical-align: text-top;
    }
  }
  .required-flag {
    .label {
      background-color: #528253;
    }
    .label:before {
      content: 'Required';
    }
  }

  .recommended-flag {
    .label:before {
      content: 'Recommended';
    }
  }

  .optional-flag {
    .label:before {
      content: 'Optional';
    }
  }

  .material-icons.tooltip-icon:before {
    content: 'help_outline';
  }

  .material-icons.tooltip-icon {
    color: $font-color;
    font-size: 11px;
    margin-left: 3px;
  }

  .tooltip {
    pointer-events: none; /* fix the boostrap tooltip flickering issue */
  }

  .multi_value .btn.remove, .controlled_vocabulary .btn.remove, .multi_value .remove.facets-toggle, .controlled_vocabulary .remove.facets-toggle, .multi_value td.toggle input.remove[type=submit], td.toggle .multi_value input.remove[type=submit], .controlled_vocabulary td.toggle input.remove[type=submit], td.toggle .controlled_vocabulary input.remove[type=submit] {
      color: #286090;
  }

  .processing_event_processing_activity_step {
    width: 95%;
  }

  .showcase-label, .showcase-value {
    padding-right: 6px;
  }

  .showcase-label {
    font-weight: bold;
    i.parsed {
      color: $font-color;
      font-size: 11px;
      margin-left: 3px;
    }
  }

  .showcase-label:not(.parsed) {
    i.parsed {
      display: none
    }
  }

  .file-field-input {
    width: 100%;
  }

  .attachment-link {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
  }

  // styling for media tags
  // hide label for keyword input
  .single-input .showcase-label {
    display: none;
  }

  .single-input .showcase-value {
    width: 100%;
  }

  // remove extra border around tags select
  .media-tags {
    border: none;
  }

  .media-showcase .show-actions,
  .show-actions {
    padding: 3.5vw 0;
    > .btn {
      @media (max-width: $tablet-max) {
        min-width: 76px;
        margin-right: 8px;
        margin-bottom: 6px;
      }
      @media (min-width: $desktop-min) {
        min-width: 100px;
        margin-right: 0;
        margin-bottom: 6px;
      }
    }
    .dropdown-menu {
      .btn {
        text-align: left;
      }
    }
  }

  .dropdown-toggle {
    min-width: 80px;
  }

  .panel {
    border: none;
    margin-left: -15px;
    margin-right: -15px;
  }

  // Hyrax .dashboard .panel has borders, showcase-edit overwrites this, this allows to put back in
  .panel-borders {
    border: 1px solid #dedede;
  }

  .panel-borders.tabs {
    margin-top: 0 !important;
    padding-top: 44px !important;
  }

  .panel-full-width .panel {
    border: none;
    margin-left: 0;
    margin-right: 0;

    .glyphicon {
      margin-left: 0;
      top: 9px;
    }
  }

  .nav-tabs {
    background-color: #efefef;
    padding-top: 20px;
    .active {
      .fa, .fas, [class^="ms2-icon-"] {
        color: $font-color;
      }
    }
    [class^="ms2-icon-"] {
      font-size: 15px;
    }
  }
  .nav-tabs.sub-nav {
    padding-top: 2px;
  }

  .processing_activity_items {
    .field-controls {
      vertical-align: top;
      padding-top: 10px;
    }
    .row:not(:first-child) {
      .showcase-label {
        padding-left:30px;
      }
    }
  }

  .input-group-btn.field-controls .btn {
    padding: 0 0 0 .2em;
  }

  .admin-block {
    background-color: #efefef;
    margin-top: 2em;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .content-block {
    padding-left: 10px;
    padding-right: 10px;

    p {
      padding: 2px 10px;
    }

    h2 {
      margin-left: -10px;
      margin-right: -10px;
    }

    div:not(.row, .select2-container, .media-item-title) {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    div.mb-2 {
      margin-bottom: 2em;
    }
  }

  .button-wrapper .btn {
    margin: 8px;
    min-width: 170px;
  }

  /* tab specific styles */
  .tab-content {
    .content-block {
      table, tbody {
        width: 100%;
      }
    }
  }
  .tab-content.tab-borders {
    div:first-child, .tab-pane {
      margin-top: 0 !important;
      padding-top: 10px;
    }
    border-left:   1px solid #efefef;
    border-right:  1px solid #efefef;
    border-bottom: 1px solid #efefef;
  }

  /* object detail tab specific styles */
  .tab-content > #physical-object-details {

    .form-group {
      .help-block {
        display:none;
      }
      .form-control {
        display: inline-block;
      }
    }

  } /* /object detail tab specific styles */


  [class*="wrapper_for_"] {
    li {
      display:flex;
      flex-direction:row;
      justify-content:left;
    }
    input, select {
      margin:1px;
      border-radius: 5px;
    }
  }

  .wrapper_for_2 {
    input, select {
      width:45%;
    }
  }

  .wrapper_for_3 {
    input, select {
      width:30%;
    }
  }

  .not-editable {
    text-align: center;
    background-color: #edec9a;
    padding:8px 80px;
  }

  /*
  .editable {
    text-align: center;
    background-color: #9deba7;
    padding:8px 80px;
  } */

  #parent-media .table-cell:not(.line) {
    padding-top:4px;
  }

  .collapse-block {
    .visibility {
      font-size: 11px;
    }
    .set-access-controls .form-group {
      padding: 0 .3em;
      font-size: 11px;
      input, select {
        font-size: 11px;
      }
    }
  }

  .banner-image img {
    border:1px solid red;
    width:100%;
  }

  input.branding-logo-input, input.branding-banner-input {
    width:auto;
  }

  #fileupload {
    p {
      padding: 0 10px;
      box-sizing: content-box !important;
    }
    #files-message {
      color: red;
    }
    .table {
      margin-bottom: 0;
    }
    .fileupload-buttonbar {
      box-sizing: content-box !important;
      .fileinput-button {
        margin-left: auto;
        margin-right: auto;
        float: none !important;
      }
      .fileupload-progress {
        margin-top: 0;
        div {
          box-sizing: content-box !important;
        }
      }
      .progress {
        box-sizing: content-box !important;
        height: auto;
        margin-bottom: 0;
      }
    }
  }

  .biological_specimen_select_taxonomy_id {
    width: 100%;
    label {
      display: none;
    }
    input {
      width: 100%;
    }
    input[type='text'].ui-autocomplete-loading {
      background: image-url('loading.gif') right center no-repeat;
      background-size: 20px;
    }
  }

  .section-add-sharing {
    h3 {
      font-size: 16px;
      font-weight: bold;
      padding: 0 10px;
    }

    .form-inline label {
      padding-right: 0;
      text-align: left;
      width: auto;
      font-size: 13px;
    }

    .select2-container, select {
      width: 100% !important;
    }

    .add-users > div,
    .add-groups > div {
      text-align: left;
      margin-bottom: 6px;
    }
    td {
      border-top: none !important;
    }
  }

  .section-collection-sharing {
    select {
      width: fit-content;
    }
    h3 {
      font-size: 16px;
      font-weight: bold;
      padding: 0 10px;
    }
    .share-status {
      th {
        text-align: left;
      }
      th, td {
        width:auto;
      }
      th.icon, td.icon {
        width:40px;
      }
    }
    td {
      border-top: none !important;
    }
  }

  // Media edit page share tab transfer media ownership section
  form#new_proxy_deposit_request {
    p {
      padding-left: 0;
    }
  }

} /* / .showcase-edit */


/* list teams and projects */
.dashboard {
  .show-actions {
    padding: .5vw 1vw;
  }
}

/* styles for dashboard collection edit page */
.dashboard.ms-collection-edit {
  .material-icons.tooltip-icon {
    font-size: 14px;
  }

  .title {
    padding-left:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 20px;
      align-items: unset;

      .btn {
        width: 90%;
      }
    }

    h1 {
      font-size: 28px;
      margin-bottom: 2px;
    }
    .fa-edit {
      font-size: 48px;
      float: left;
      margin-right: 8px;
    }
  }

  .showcase-label {
    display: flex;
    align-items: center;

    label {
      margin-bottom: 0;
    }
  }

  .add-media-to-collection {

    h1 {
      margin-top: 20px;
      font-size: 20px;
    }
    p {
      padding: 15px;
      font-size: 12px;
    }
  }

  .show-actions {
    padding: .5vw 1vw;
    .btn {
      margin-bottom: 1px;
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
    }
    .btn:hover {
      color: $button-hover-font-color;
      background-color: $button-hover-color;
      border-color: $button-hover-border-color;
    }
  }

  .btn-xs {
    font-size: 9px;
  }

  .tab-note {
    font-size: 12px;
  }

  .content-block {
    padding-left: 0;
    padding-right: 0;
    h2 {
      margin-left: 0;
      margin-right: 0;
      margin-top: 15px;
    }
  }

  .branding-logo-input {

    label {
      display:flex;
      margin: 0 0 4px 0;
      padding: 0;
      span {
        box-sizing: border-box;
        flex-grow: 1;
        width: 100%;
        overflow: hidden;
        list-style: none;
      }
      input {
        max-width: 90px;
      }
    }
  }

  .fileupload-buttonbar {
    padding: 2px 8px;
  }

  #delete-organization {
    margin-left: 10px;
  }

  // uploaded logos and banners
  div.branding-logo-row, div.branding-banner-row {
    position: relative;
    left: 15px;
  }

  .form-add-organization-wrapper {
    > div {
      text-align: center;
      select, input {
        margin-top: 4px;
      }
      @media (min-width: $desktop-min) {
        text-align: right;
        select, input {
          margin-top: 0;
        }
      }
    }
    form {display: inline-block;}
    select {
      font-size: 12px;
      width: 130px;
      height: 30px;
      margin-right:8px;
    }
  }

  .tab-action-buttons {
    @media (max-width: $tablet-max) {
      text-align: center;
      .btn {
        width:90%;
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }

    @media (min-width: $desktop-min) {
      text-align: right;
      .btn {
        width: auto;
        margin-bottom: 8px;
      }
    }

    label {
      vertical-align: middle;
    }
  }

  .organization-collection-ownership-reminders {
    ul {
      padding-inline-start: 25px;
    }
  }

  .organization-collection-ownership-stats {
    .showcase-label {
      font-weight: normal;
    }

    .showcase-value {
      text-align: right;
      padding-right: 15px;
    }
  }
}
/* /styles for dashboard collection edit page */
