---
http_interactions:
- request:
    method: get
    uri: https://search.idigbio.org/v2/view/records/061594f4-69a3-41ff-9396-dac55cc8409b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 13 Dec 2019 15:25:12 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"uuid":"061594f4-69a3-41ff-9396-dac55cc8409b","type":"records","etag":"1ec2d44f898f84f67517c85417ef0269222c4cf1","data":{"dwc:specificEpithet":"lewisiana","dwc:latestPeriodOrHighestSystem":"Paleogene","dwc:county":"Lewis","dwc:recordedBy":"David
        Nunnallee","dwc:informationWithheld":"Precise coordinates and locality withheld
        to protect sensitive information.","dwc:georeferencedDate":"2017-04-17 14:39:21","dwc:fieldNumber":"25,
        28","dwc:order":"Neogastropoda","dcterms:references":"http://www.burkemuseum.org/collections/search/result.php?GUID=UWBM:InvertebratePaleontology:66079","dwc:individualCount":"3","dwc:occurrenceID":"urn:catalog:UWBM:InvertebratePaleontology:66079","dcterms:language":"en","dwc:highestBiostratigraphicZone":"Narizian","dwc:earliestEpochOrLowestSeries":"Eocene","id":"urn:catalog:UWBM:InvertebratePaleontology:66079","dwc:stateProvince":"Washington","dwc:eventDate":"1967-00-00","dwc:institutionCode":"UWBM","dwc:country":"United
        States","dwc:earliestPeriodOrLowestSystem":"Paleogene","dwc:collectionCode":"Invertebrate
        Paleontology","dcterms:rightsHolder":"University of Washington Burke Museum","dwc:decimalLatitude":"46.45","dwc:occurrenceRemarks":"2
        complete one with bore hole, one apex missing, one siphon missing  Nunnallee
        Locality 28 = A9522-2.","dwc:locationID":"A9522","dwc:basisOfRecord":"FossilSpecimen","dwc:genus":"Parvisipho","dwc:continent":"North
        America","dwc:family":"Buccinidae","dwc:latestEpochOrHighestSeries":"Eocene","dwc:dynamicProperties":"{\"Elements\":\"conch;cone\",\"CollectingParty\":\"David
        Nunnallee\"}","dwc:georeferenceSources":"GEOLocate","dwc:geologicalContextID":"A9522","dwc:higherClassification":"Mollusca;
        Gastropoda; Neogastropoda; Buccinidae","dcterms:license":"https://creativecommons.org/publicdomain/zero/1.0/","dwc:lowestBiostratigraphicZone":"Narizian","dwc:ownerInstitutionCode":"UWBM","dwc:phylum":"Mollusca","dwc:locality":"[redacted]","dwc:institutionID":"http://biocol.org/urn:lsid:biocol.org:col:34878","dwc:geodeticDatum":"WGS
        84","dwc:taxonRank":"species","dwc:formation":"Cowlitz","dwc:class":"Gastropoda","dwc:dataGeneralizations":"Latitude
        and longitude reduced in precision by 0.1 degrees.","dwc:catalogNumber":"66079","dwc:nomenclaturalCode":"ICZN","dcterms:type":"PhysicalObject","dwc:Identification":[{"dwc:nomenclaturalCode":"ICZN","dwc:taxonRank":"species","dwc:specificEpithet":"lewisiana","dwc:order":"Neogastropoda","dwc:higherClassification":"Mollusca;
        Gastropoda; Neogastropoda; Buccinidae","coreid":"urn:catalog:UWBM:InvertebratePaleontology:66079","dwc:scientificNameAuthorship":"(Weaver),
        1912","dwc:phylum":"Mollusca","dwc:genus":"Parvisipho","dwc:scientificName":"Parvisipho
        lewisiana (Weaver), 1912","dwc:class":"Gastropoda","dwc:family":"Buccinidae"}],"dwc:higherGeography":"North
        America; United States; Washington; Lewis County","dwc:scientificNameAuthorship":"(Weaver),
        1912","dwc:decimalLongitude":"-122.95","dwc:coordinateUncertaintyInMeters":"5566","dwc:datasetName":"EPICC","dwc:otherCatalogNumbers":"Accession:
        1988-11, Other numbers: W659","dwc:georeferencedBy":"Hindle, Sawyer","dwc:verbatimEventDate":"1967-1970","dwc:latestEraOrHighestErathem":"Cenozoic","dwc:recordNumber":"586,
        724","dwc:earliestEraOrLowestErathem":"Cenozoic","dcterms:modified":"2018-03-14
        12:27:59","dwc:scientificName":"Parvisipho lewisiana (Weaver), 1912","dwc:year":"1967"},"indexTerms":{"individualcount":3,"geopoint":{"lat":46.45,"lon":-122.95000000000002},"geologicalcontextid":"a9522","family":"buccinidae","recordset":"ba77d411-4179-4dbd-b6c1-39b8a71ae795","dqs":0.5797101449275363,"stateprovince":"washington","earliestepochorlowestseries":"eocene","county":"lewis","earliestperiodorlowestsystem":"paleogene","phylum":"mollusca","catalognumber":"66079","startdayofyear":281,"latestperiodorhighestsystem":"paleogene","specificepithet":"lewisiana","continent":"north
        america","latesteraorhighesterathem":"cenozoic","uuid":"061594f4-69a3-41ff-9396-dac55cc8409b","countrycode":"usa","basisofrecord":"fossilspecimen","collector":"david
        nunnallee","institutioncode":"uwbm","class":"gastropoda","datecollected":"1967-10-08","etag":"1ec2d44f898f84f67517c85417ef0269222c4cf1","flags":["geopoint_low_precision","idigbio_isocountrycode_added"],"recordnumber":"586,
        724","hasImage":false,"lowestbiostratigraphiczone":"narizian","highertaxon":"mollusca;
        gastropoda; neogastropoda; buccinidae","taxonrank":"species","earliesteraorlowesterathem":"cenozoic","scientificname":"parvisipho
        lewisiana (weaver), 1912","indexData":{"dwc:specificEpithet":"lewisiana","dwc:latestPeriodOrHighestSystem":"Paleogene","dwc:county":"Lewis","dwc:recordedBy":"David
        Nunnallee","dwc:informationWithheld":"Precise coordinates and locality withheld
        to protect sensitive information.","dwc:georeferencedDate":"2017-04-17 14:39:21","dwc:fieldNumber":"25,
        28","dwc:order":"Neogastropoda","dcterms:references":"http://www.burkemuseum.org/collections/search/result.php?GUID=UWBM:InvertebratePaleontology:66079","dwc:individu[...]
- request:
    method: head
    uri: http://127.0.0.1:8986/rest/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZmVkb3JhQWRtaW46ZmVkb3JhQWRtaW4=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 23 Jan 2020 21:35:16 GMT
- request:
    method: put
    uri: http://127.0.0.1:8986/rest/test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic ZmVkb3JhQWRtaW46ZmVkb3JhQWRtaW4=
      Content-Type:
      - text/turtle
  response:
    status:
      code: 201
      message: Created
    headers:
      Etag:
      - W/"3b82c25dedcaf83f1d53b971b46b7b5f583a3aee"
      Last-Modified:
      - Thu, 23 Jan 2020 21:35:16 GMT
      Location:
      - http://127.0.0.1:8986/rest/test
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: http://127.0.0.1:8986/rest/test
  recorded_at: Thu, 23 Jan 2020 21:35:16 GMT
[...]
- request:
    method: delete
    uri: http://127.0.0.1:8986/rest/test/fcr:tombstone
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZmVkb3JhQWRtaW46ZmVkb3JhQWRtaW4=
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 23 Jan 2020 21:35:16 GMT
- request:
    method: post
    uri: http://127.0.0.1:8985/solr/hydra-test/update?softCommit=true&wt=json
    body:
      encoding: UTF-8
      string: '{"delete":{"query":"*:*"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "responseHeader":{
            "status":0,
            "QTime":6}}
  recorded_at: Thu, 23 Jan 2020 21:35:16 GMT
recorded_with: VCR 5.0.0
