---
http_interactions:
- request:
    method: post
    uri: https://search.idigbio.org/v2/search/records/
    body:
      encoding: UTF-8
      string: '{"rq":{"occurrenceid":"urn:catalog:CM:VP:604-not-found"},"limit":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Last-Modified:
      - Fri, 24 Apr 2026 02:51:43 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"itemCount":0,"lastModified":"1970-01-01T00:00:00.000Z","items":[],"attribution":[],"aggs":{"rs":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[]},"unique_scientific_names":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[]},"max_dm":{"value":null}}}'
  recorded_at: Fri, 05 Jun 2026 17:28:01 GMT
recorded_with: VCR 6.3.1
