$button-color: #286090;

div.showcase-edit {

  /* temporarily use fix font size */
  .showcase-label, 
  .showcase-value, 
  .content-block-lg .row > div, 
  .content-block .row > div {
    font-size: 14px;
  }

  h2 {
    font-size: 15px;    
  }

  .form-group {
    .control-label {

    }
    .help-block {
      display:none;
    }
    .form-control {
      display: inline-block;
      width: auto;
    }
  }

  .tooltip-inner {
    text-align: left;
  }

  .row {
    padding: 2px 8px;
  }

  .form-group {
    margin-bottom: 0; 
  }

  .controls-remove-text {
    display: none;
  }

  .field-controls .add, 
  .field-controls .remove {
    width: auto;
    text-align: left;
  }

  .form-control {
    height: 30px;
    padding: 2px 8px;
  }

  .multi_value .listing li:not(:last-child), .controlled_vocabulary .listing li:not(:last-child) {
    margin-bottom: 0rem;
  }

  .indent {
    padding-left: 30px;
  }

  .required-tag {
    display: none;
  }

  .required-flag, .recommended-flag {
    .label:empty {
      display:inline-block !important;
    }
    .label {
      font-size: 60%;
      font-weight: normal;
      margin-left: 3px;
      margin-top: 2px;
      vertical-align: text-top;
    }
  }
  .required-flag {
    .label:before {
      content: 'required';
    }
  }

  .recommended-flag {
    .label:before {
      content: 'recommended';
    }
  }

  .material-icons.tooltip-icon:before {
    content: 'help_outline';
  }
  
  .material-icons.tooltip-icon {
    font-size: 11px;
    margin-left: 3px;
  }

  .glyphicon {
    margin-left: 3px;
  }

  .multi_value .btn.remove, .controlled_vocabulary .btn.remove, .multi_value .remove.facets-toggle, .controlled_vocabulary .remove.facets-toggle, .multi_value td.toggle input.remove[type=submit], td.toggle .multi_value input.remove[type=submit], .controlled_vocabulary td.toggle input.remove[type=submit], td.toggle .controlled_vocabulary input.remove[type=submit] {
      color: inherit;
  }

  .showcase-label, .showcase-value {
    padding-right: 6px;
  }

  .btn-save {
    min-width: 80px;
    margin-right: 12px;
    margin-bottom: 6px;
  }

  .dropdown-toggle {
    min-width: 80px;
  }

  .panel {
    border: none;
    margin-right: -15px;
    margin-left: -15px;
  }

  .nav-tabs {
    background-color: #efefef;
  }

  .btn.btn-link.add,
  .btn.btn-link.remove {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    color: $button-color;
    background-color: transparent;
    border-color: transparent;

    .glyphicon {
    }
  }

  .listing li {
    width: 200px !important;
  }

  .input-group-btn.field-controls .btn {
    padding: 0;
  }
}
